<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.heitian.ssm.dao.UserDao">
    <!--auto generated Code-->
    <resultMap id="BaseResultMap" type="com.heitian.ssm.model.User">
        <result column="login_name" property="loginName"/>
        <result column="user_name" property="userName"/>
        <result column="role_code" property="roleCode"/>
        <result column="password" property="password"/>
        <result column="phone" property="phone"/>
        <result column="department_code" property="departmentCode"/>
        <result column="sex" property="sex"/>
        <result column="note" property="note"/>
        <result column="department_name" property="departmentName"/>
        <result column="role_name" property="roleName"/>
        <result column="id" property="id"/>
        <result column="create_by" property="createBy"/>
        <result column="create_time" property="createTime"/>
        <result column="update_by" property="updateBy"/>
        <result column="update_time" property="updateTime"/>
        <result column="sysc_status" property="syscStatus"/>
    </resultMap>
    <!--auto generated Code-->
    <insert id="insert" useGeneratedKeys="true" keyProperty="pojo.id">
        INSERT INTO user (
            `login_name`,
            `user_name`,
            `role_code`,
            `password`,
            `phone`,
            `department_code`,
            `sex`,
            `note`,
            `department_name`,
            `role_name`,
            `id`,
            `create_by`,
            `create_time`,
            `update_by`,
            `update_time`,
            `sysc_status`
        ) VALUES (
            #{pojo.loginName},
            #{pojo.userName},
            #{pojo.roleCode},
            #{pojo.password},
            #{pojo.phone},
            #{pojo.departmentCode},
            #{pojo.sex},
            #{pojo.note},
            #{pojo.departmentName},
            #{pojo.roleName},
            #{pojo.id},
            #{pojo.createBy},
            #{pojo.createTime},
            #{pojo.updateBy},
            #{pojo.updateTime},
            #{pojo.syscStatus}
        )
    </insert>

    <!--auto generated Code-->
    <insert id="insertSelective" useGeneratedKeys="true" keyProperty="pojo.id">
        INSERT INTO user
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="pojo.loginName!=null"> `login_name`,</if>
            <if test="pojo.userName!=null"> `user_name`,</if>
            <if test="pojo.roleCode!=null"> `role_code`,</if>
            <if test="pojo.password!=null"> `password`,</if>
            <if test="pojo.phone!=null"> `phone`,</if>
            <if test="pojo.departmentCode!=null"> `department_code`,</if>
            <if test="pojo.sex!=null"> `sex`,</if>
            <if test="pojo.note!=null"> `note`,</if>
            <if test="pojo.departmentName!=null"> `department_name`,</if>
            <if test="pojo.roleName!=null"> `role_name`,</if>
            <if test="pojo.id!=null"> `id`,</if>
            <if test="pojo.createBy!=null"> `create_by`,</if>
            <if test="pojo.createTime!=null"> `create_time`,</if>
            <if test="pojo.updateBy!=null"> `update_by`,</if>
            <if test="pojo.updateTime!=null"> `update_time`,</if>
            <if test="pojo.syscStatus!=null"> `sysc_status`,</if>
        </trim>
        VALUES
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="pojo.loginName!=null">#{pojo.loginName},</if>
            <if test="pojo.userName!=null">#{pojo.userName},</if>
            <if test="pojo.roleCode!=null">#{pojo.roleCode},</if>
            <if test="pojo.password!=null">#{pojo.password},</if>
            <if test="pojo.phone!=null">#{pojo.phone},</if>
            <if test="pojo.departmentCode!=null">#{pojo.departmentCode},</if>
            <if test="pojo.sex!=null">#{pojo.sex},</if>
            <if test="pojo.note!=null">#{pojo.note},</if>
            <if test="pojo.departmentName!=null">#{pojo.departmentName},</if>
            <if test="pojo.roleName!=null">#{pojo.roleName},</if>
            <if test="pojo.id!=null">#{pojo.id},</if>
            <if test="pojo.createBy!=null">#{pojo.createBy},</if>
            <if test="pojo.createTime!=null">#{pojo.createTime},</if>
            <if test="pojo.updateBy!=null">#{pojo.updateBy},</if>
            <if test="pojo.updateTime!=null">#{pojo.updateTime},</if>
            <if test="pojo.syscStatus!=null">#{pojo.syscStatus},</if>
        </trim>
    </insert>

    <!--auto generated Code-->
    <insert id="insertList">
        INSERT INTO user (
        `login_name`,
        `user_name`,
        `role_code`,
        `password`,
        `phone`,
        `department_code`,
        `sex`,
        `note`,
        `department_name`,
        `role_name`,
        `id`,
        `create_by`,
        `create_time`,
        `update_by`,
        `update_time`,
        `sysc_status`
        )VALUES
        <foreach collection="pojos" item="pojo" index="index" separator=",">
            (
            #{pojo.loginName},
            #{pojo.userName},
            #{pojo.roleCode},
            #{pojo.password},
            #{pojo.phone},
            #{pojo.departmentCode},
            #{pojo.sex},
            #{pojo.note},
            #{pojo.departmentName},
            #{pojo.roleName},
            #{pojo.id},
            #{pojo.createBy},
            #{pojo.createTime},
            #{pojo.updateBy},
            #{pojo.updateTime},
            #{pojo.syscStatus}
            )
        </foreach>
    </insert>

    <!--auto generated Code-->
    <update id="update">
        UPDATE user
        <set>
            <if test="pojo.loginName != null"> `login_name` = #{pojo.loginName}, </if>
            <if test="pojo.userName != null"> `user_name` = #{pojo.userName}, </if>
            <if test="pojo.roleCode != null"> `role_code` = #{pojo.roleCode}, </if>
            <if test="pojo.password != null"> `password` = #{pojo.password}, </if>
            <if test="pojo.phone != null"> `phone` = #{pojo.phone}, </if>
            <if test="pojo.departmentCode != null"> `department_code` = #{pojo.departmentCode}, </if>
            <if test="pojo.sex != null"> `sex` = #{pojo.sex}, </if>
            <if test="pojo.note != null"> `note` = #{pojo.note}, </if>
            <if test="pojo.departmentName != null"> `department_name` = #{pojo.departmentName}, </if>
            <if test="pojo.roleName != null"> `role_name` = #{pojo.roleName}, </if>
            <if test="pojo.id != null"> `id` = #{pojo.id}, </if>
            <if test="pojo.createBy != null"> `create_by` = #{pojo.createBy}, </if>
            <if test="pojo.createTime != null"> `create_time` = #{pojo.createTime}, </if>
            <if test="pojo.updateBy != null"> `update_by` = #{pojo.updateBy}, </if>
            <if test="pojo.updateTime != null"> `update_time` = #{pojo.updateTime}, </if>
            <if test="pojo.syscStatus != null"> `sysc_status` = #{pojo.syscStatus} </if>
        </set>
        WHERE id = #{pojo.id}
    </update>
    <select id="findAllUser" resultMap="BaseResultMap">
        SELECT  *  FROM  user
    </select>
    <select id="findUserByloginName" resultMap="BaseResultMap">
        SELECT  * FROM  user WHERE `login_name`=#{loginName}
    </select>
</mapper>

