<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.heitian.ssm.dao.RoleDao">
    <resultMap id="BaseResultMap" type="com.heitian.ssm.model.Role">
        <result column="code" property="code"/>
        <result column="name" property="name"/>
        <result column="id" property="id"/>
        <result column="create_by" property="createBy"/>
        <result column="create_time" property="createTime"/>
        <result column="update_by" property="updateBy"/>
        <result column="update_time" property="updateTime"/>
        <result column="status" property="status"/>
    </resultMap>
    <insert id="insert" useGeneratedKeys="true" keyProperty="pojo.id">
        INSERT INTO role (
            `code`,
            `name`,
            `id`,
            `create_by`,
            `create_time`,
            `update_by`,
            `update_time`,
            `status`
        ) VALUES (
            #{pojo.code},
            #{pojo.name},
            #{pojo.id},
            #{pojo.createBy},
            #{pojo.createTime},
            #{pojo.updateBy},
            #{pojo.updateTime},
            #{pojo.status}
        )
    </insert>

    <!--auto generated Code-->
    <insert id="insertSelective" useGeneratedKeys="true" keyProperty="pojo.id">
        INSERT INTO role
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="pojo.code!=null"> `code`,</if>
            <if test="pojo.name!=null"> `name`,</if>
            <if test="pojo.id!=null"> `id`,</if>
            <if test="pojo.createBy!=null"> `create_by`,</if>
            <if test="pojo.createTime!=null"> `create_time`,</if>
            <if test="pojo.updateBy!=null"> `update_by`,</if>
            <if test="pojo.updateTime!=null"> `update_time`,</if>
            <if test="pojo.status!=null"> `status`,</if>
        </trim>
        VALUES
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="pojo.code!=null">#{pojo.code},</if>
            <if test="pojo.name!=null">#{pojo.name},</if>
            <if test="pojo.id!=null">#{pojo.id},</if>
            <if test="pojo.createBy!=null">#{pojo.createBy},</if>
            <if test="pojo.createTime!=null">#{pojo.createTime},</if>
            <if test="pojo.updateBy!=null">#{pojo.updateBy},</if>
            <if test="pojo.updateTime!=null">#{pojo.updateTime},</if>
            <if test="pojo.status!=null">#{pojo.status},</if>
        </trim>
    </insert>

    <!--auto generated Code-->
    <insert id="insertList">
        INSERT INTO role (
        <include refid="all_column"/>
        )VALUES
        <foreach collection="pojos" item="pojo" index="index" separator=",">
            (
            #{pojo.code},
            #{pojo.name},
            #{pojo.id},
            #{pojo.createBy},
            #{pojo.createTime},
            #{pojo.updateBy},
            #{pojo.updateTime},
            #{pojo.status}
            )
        </foreach>
    </insert>

    <!--auto generated Code-->
    <update id="update">
        UPDATE role
        <set>
            <if test="pojo.code != null"> `code` = #{pojo.code}, </if>
            <if test="pojo.name != null"> `name` = #{pojo.name}, </if>
            <if test="pojo.id != null"> `id` = #{pojo.id}, </if>
            <if test="pojo.createBy != null"> `create_by` = #{pojo.createBy}, </if>
            <if test="pojo.createTime != null"> `create_time` = #{pojo.createTime}, </if>
            <if test="pojo.updateBy != null"> `update_by` = #{pojo.updateBy}, </if>
            <if test="pojo.updateTime != null"> `update_time` = #{pojo.updateTime}, </if>
            <if test="pojo.status != null"> `status` = #{pojo.status} </if>
        </set>
        WHERE id = #{pojo.id}
    </update>
    <select id="findByCode" resultMap="BaseResultMap">
        SELECT  * FROM  role WHERE  code = #{code}
    </select>
</mapper>

